#root {
  background: url("assets/背景花纹.png") top center / 100% auto no-repeat;
}

.bg-nav-bar {
  background: linear-gradient(180deg, #f4f4f500, #f4f4f5 47%, #f4f4f57a) !important;
}

.top_logo {
  width: 150px;
  height: 24px;
}

.thought_table .ant-thought-chain.ant-thought-chain-small>.ant-thought-chain-item .ant-thought-chain-item-header::before {
  width: 1px;
}

.thought_table .ant-thought-chain.ant-thought-chain-small .ant-avatar {
  background: none !important;
}

.thought_table .ant-thought-chain.ant-thought-chain-small>.ant-thought-chain-item .ant-thought-chain-item-header::before {
  top: 22px;
  bottom: -22px;
}

.thought_table .ant-thought-chain-item-header {
  margin-bottom: 18px;
}

.thought_table .ant-thought-chain.ant-thought-chain-small>.ant-thought-chain-item .ant-thought-chain-item-header::before {
  inset-inline-start: 7px;
}

.thought_table .ant-thought-chain.ant-thought-chain-small .ant-thought-chain-item .ant-thought-chain-item-header .ant-thought-chain-item-icon {
  height: 16px;
  width: 16px;
}

.thought_table .ant-thought-chain.ant-thought-chain-small .ant-thought-chain-item .ant-thought-chain-item-header {
  align-items: center;
}

.thought_table .ant-thought-chain.ant-thought-chain-small .ant-thought-chain-item .ant-thought-chain-item-header {
  gap: 5px;
}

.thought_table .ant-thought-chain.ant-thought-chain-small .ant-thought-chain-item .ant-thought-chain-item-header .ant-thought-chain-item-header-box .ant-thought-chain-item-title {
  font-weight: 500;
  font-size: 12px;
  color: #898989;
  line-height: 20px;
}

.thought_table .ant-thought-chain-item-success-success>*::before {
  background-color: #E0E0E0 !important;
}

.bg_thought_left {
  background: linear-gradient(141deg, #FFFFFF 0%, #F4F4F5 100%) !important;
}

.user_message_box {
  min-height: 40px;
  background: #FFFFFF;
  border-radius: 15px 15px 0px 15px;
  border: 1px solid #E0E0E0;
  padding: 0px 10px;
  line-height: 40px;
}


.side_item_start {
  box-shadow: 2px 2px 4px -1px rgba(68, 69, 69, 0.05);
}

.side_item_start a {
  color: #212121;
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
}

.chat_form_input {
  background: linear-gradient(160deg, #fff, #f4f4f5);
  padding: 8px 12px !important;
}

.chat_form_input {
  border-radius: 10px !important;
  border: 1px solid #E0E0E0;
}

textarea.chat_form_input:hover {
  border: 1px solid #0563B2
}

.chat_form_input::placeholder {
  font-size: 12px !important;
}

.setting_title {
  background: linear-gradient(180deg, #e0e0e0, #f4f4f54d);
  border-bottom: 1px solid #e0e0e0;
} 

.convon_item:hover .convon_button {
  opacity: 100;
  max-width: 28px;
  transform: scaleX(100);
}
.convon_item:hover .convon_button_inner {
    opacity: 100;
    color: white;
}