#root {
  background: url("/assets/背景花纹.png") top center / 100% auto no-repeat;
}

.bg-nav-bar {
  background: linear-gradient(180deg, #f4f4f500, #f4f4f5 47%, #f4f4f57a) !important;
  border-right: 1px solid #E0E0E0;
}

.top_logo {
  width: 150px;
  height: 24px;
}

.thought_table .ant-thought-chain.ant-thought-chain-small>.ant-thought-chain-item .ant-thought-chain-item-header::before {
  width: 1px;
}

.thought_table .ant-thought-chain.ant-thought-chain-small .ant-avatar {
  background: none !important;
}

.thought_table .ant-thought-chain.ant-thought-chain-small>.ant-thought-chain-item .ant-thought-chain-item-header::before {
  top: 22px;
  bottom: -22px;
}

.thought_table .ant-thought-chain-item-header {
  margin-bottom: 18px;
}

.thought_table .ant-thought-chain.ant-thought-chain-small>.ant-thought-chain-item .ant-thought-chain-item-header::before {
  inset-inline-start: 7px;
}

.thought_table .ant-thought-chain.ant-thought-chain-small .ant-thought-chain-item .ant-thought-chain-item-header .ant-thought-chain-item-icon {
  height: 16px;
  width: 16px;
}

.thought_table .ant-thought-chain.ant-thought-chain-small .ant-thought-chain-item .ant-thought-chain-item-header {
  align-items: center;
}

.thought_table .ant-thought-chain.ant-thought-chain-small .ant-thought-chain-item .ant-thought-chain-item-header {
  gap: 5px;
}

.thought_table .ant-thought-chain.ant-thought-chain-small .ant-thought-chain-item .ant-thought-chain-item-header .ant-thought-chain-item-header-box .ant-thought-chain-item-title {
  font-weight: 500;
  font-size: 12px;
  color: #898989;
  line-height: 20px;
}

.thought_table .ant-thought-chain-item-success-success>*::before {
  background-color: #E0E0E0 !important;
}

.bg_thought_left {
  background: linear-gradient(141deg, #FFFFFF 0%, #F4F4F5 100%) !important;
}

.user_message_box {
  min-height: 20px;
  background: #FFFFFF;
  border-radius: 15px 15px 0px 15px;
  border: 1px solid #E0E0E0;
  padding: 10px;
  line-height: 20px;
}


.side_item_start {
  box-shadow: 2px 2px 4px -1px rgba(68, 69, 69, 0.05);
}

.side_item_start a {
  color: #212121;
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
}

.chat_form_input {
  background: linear-gradient(160deg, #fff, #f4f4f5);
  padding: 8px 12px !important;
}

.chat_form_input {
  border-radius: 10px !important;
  border: 1px solid #E0E0E0;
}

textarea.chat_form_input:hover {
  border: 1px solid #0563B2
}

.chat_form_input::placeholder {
  font-size: 12px !important;
}

.setting_title {
  background: linear-gradient(180deg, #e0e0e0, #f4f4f54d);
  border-bottom: 1px solid #e0e0e0;
} 

/* .convon_item:hover .convon_button {
  opacity: 100;
  max-width: 28px;
  transform: scaleX(100);
}
.convon_item:hover .convon_button_inner {
    opacity: 100;
    color: white;
} */

.mcp_select button {
  height: 24px !important;
  font-size: 12px !important;
  font-weight: normal !important;
}

.user_message_box{
  font-size: 13px;
}

.onchain_btn{
  font-size:  12px !important;
  height: 24px !important;
  border-radius: 0px !important;
  border: 1px solid #E0E0E0 !important
}

.mcp_select button{
  border: 1px solid #E0E0E0;
}

#tools-dropdown-menu{
  font-size: 12px !important;
}

.text-sm{
  font-size: 12px !important;
}

input, textarea {
  outline: none !important;
}

.onchain_dialog{
  padding: 0px;
  border-radius: 4px;
}

.onchain_dialog_title h2{
  font-size: 12px !important;
  font-family: bold;
  padding: 0px 16px;
  height: 40px;
  border-bottom: 1px solid #E0E0E0;
  display: flex;
  align-items: center;
}

.onchain_dialog_title p{
  font-size: 12px !important;
  padding: 0px 16px;
}

.library_item:hover .library_delete {
  visibility: visible;
}

.library_delete{
  visibility: hidden;
}

.markdown table {
  display: block;      
}

textarea{
  font-size: 12px;
}