.agent-action-btns {
  display:block;
  gap: 8px;

}
.agent-action-btns .anticon {
  font-size: 11px; 
  font-weight: 400;
  font-size: 12px;
}
.agent-action-btns .btn-save:hover {
  color: black !important;
  border-color: black !important;
}
.agent-action-btns .btn-save:active {
  border-color: #ececec !important;
}

.agent-action-btns .ant-btn {
  font-size: 10px;
  font-family: PingFang SC, PingFangSC, sans-serif;
  font-weight: 400;
}
.big-title{
  display: flex;
  justify-content: center;
  font-family: DreamHanSansCN, DreamHanSansCN;
  font-weight: 600;
  font-size: 40px;
  color: #333333;
  line-height: 48px;
  text-align: left;
  font-style: normal;
}
.small-title{
  margin-top: 4px;
  display: flex;
  justify-content: center;
  font-family: PingFangSC, PingFang SC;
  font-weight: 300;
  font-size: 11px;
  color: rgba(0,0,0,0.3);
  line-height: 18px;
  text-align: left;
  font-style: normal;
}
.search{
  width: 50%;
  height: 31px;
  border-radius: 15px;
  margin: 25px auto 0;
  display: flex;
  justify-content: center;
 
}
.search:hover{
  border-color:#0563B2 ;
  border-radius: 15px;
  margin: 25px auto 0;
  display: flex;
  justify-content: center;
 
}
.ant-input{
  font-size: 10px !important;
}
.ant-input-affix-wrapper-focused {
  border-color: #0563B2 !important;
  box-shadow: none !important;
}
.listbody {
  margin-top: 20px;

  width: 80%;
  margin-inline: auto;
}
.agentcard{
  background: #FFFFFF;
  border-radius: 12px !important;
  border: 1px solid #E0E0E0;
}
.agentname{
  font-family: PingFangSC, PingFang SC;
  font-weight: 600;
  font-size: 13px;
  color: #333333;
  line-height: 13px;
  text-align: left;
  font-style: normal;
}
.agentdes{
  margin-top: 6px;
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 10px;
  color: #444444;
  line-height: 18px;
  text-align: left;
  font-style: normal;
}
.agentobj{
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 12px;
  color: rgba(0,0,0,0.3);
  line-height: 18px;
  text-align: left;
  font-style: normal;
  line-height: 24px;
}
.agentvalue{
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #333333;
  text-align: left;
  font-style: normal;
}
