.app-shell {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* background: #fff; */
}

.content-wrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
